.cert-section {
  padding: 120px 6%;
  background: #f8fafc;
}

/* HEADER */
.cert-header {
  text-align: center;
  margin-bottom: 70px;
}

.cert-header h2 {
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 15px;
  color: #111827;
}

.cert-header p {
  max-width: 650px;
  margin: 0 auto;
  font-size: 17px;
  color: #6b7280;
  line-height: 1.6;
}

/* GRID */
.cert-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  align-items: center;
}

/* CARD */
.cert-card {
  background: white;
  padding: 40px 30px;
  border-radius: 20px;
  text-align: center;
  border: 1px solid #e5e7eb;
  transition: all 0.3s ease;
}

.cert-card:hover {
  transform: translateY(-6px);
  border-color: #22c55e;
}



.cert-card img {
  max-width: 120px;
  height: auto;
  margin-bottom: 20px;
  object-fit: contain;
}

.cert-card:hover img {
  filter: grayscale(0%);
  opacity: 1;
}


.cert-card span {
  font-size: 14px;
  font-weight: 600;
  color: #374151;
}

/* TRUST STATS */
.trust-stats {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  text-align: center;
}

.stat {
  padding: 30px;
  border-radius: 20px;
  background: white;
  border: 1px solid #e5e7eb;
  transition: 0.3s ease;
}

.stat:hover {
  transform: translateY(-6px);
  border-color: #22c55e;
  box-shadow: 0 20px 50px rgba(34, 197, 94, 0.1);
}

.stat h3 {
  font-size: 36px;
  font-weight: 800;
  color: #16a34a;
  margin-bottom: 10px;
}

.stat p {
  font-size: 15px;
  font-weight: 600;
  color: #374151;
}



/* RESPONSIVE */
@media (max-width: 992px) {
  .cert-grid {
    grid-template-columns: repeat(2, 1fr);
  }
   .trust-stats {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .cert-grid {
    grid-template-columns: 1fr;
  }

  .cert-header h2 {
    font-size: 30px;
  }
   .trust-stats {
    grid-template-columns: 1fr;
  }
}
